/* Cards */
.card-container{
    width:400px;
    height: auto;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    animation: ease-in-out;
    padding-left: 5rem;
    margin-left: 3rem;
}
.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}
.card-display{
    display: flex;
    flex-direction: row;
}
#service-card2{
    width:400px;
    height: 200px;
    overflow: hidden;
    /* box-shadow: 0px 0px 15px -5px; */
    transition: 0.5s;
    animation: ease-in-out;
    padding-left: 1rem;
    margin-left: 3rem;
    background-color: #ffffff;
    justify-content: space-between !important;
}

#service-card2:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

#service-card2 span{
    margin-left: 0;
}
#service-card2 .MuiCardActions-root{
    justify-content: space-between;
}

.MuiButton-root svg{
    height: 40px;
    width: 183px;

}
 .MuiButton-root:hover {
    text-decoration: none;
   
}
.cards .cardActions .MuiButton-root:hover{
  background-color: #fff;
}

.MuiDialogTitle-root .MuiButton-root:hover{
  background-color: #fff;
}

.cardActions{
    display: flex;
    font-size: 20px;
    text-decoration: none;
}
.cards{
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* Search Bar */
.search-input{
  opacity: 0.6;
  padding: 0.5rem 1rem;
   width: 60%;
    font-size: 0.8rem;
    margin-top: 15px;
    margin-bottom: 15px;
}
.search-input:hover{
  background-color:#f2f2f2 ;
}
.search-input .MuiSvgIcon-root{
  margin-right: 0.5rem;
}

 /* Tabs Css */
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 200%;
    height: auto;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .bloc-tabs {
    display: flex;
  }
  .tabs {
  
    padding: 15px;
    text-align: center;
    width: 100%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(97, 223, 97) ;
  }
  
  
  
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content p {
    width: 100%;
    height: auto;
  }
  .active-content {
    display: block;
  }



/* Remind Buttons */
.remind-all{
    background-color: #ffffff !important;
    color: rgb(97, 223, 97) !important;
    text-decoration: none;
    font-size: 1rem;
}
.remind-btn{
    background-color: rgb(97, 223, 97) !important;
    color: #ffffff !important;
}

/* Servicec content */
.servicename-heading{
    padding-bottom: 1rem;
    color: rgb(97, 223, 97);
}
.service-description{   
    display:flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    width: 80%;
    height: auto;
    color:#ffffff;
    background-color: rgb(97, 223, 97);
}
.service-main{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    padding: 1rem 2rem;
    color:#ffffff;
    background-color: rgb(97, 223, 97);
}
.service-text2{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    color:#ffffff;
    background-color: rgb(97, 223, 97);
}
.manage-service{
    flex:0 0 80%;
    max-width: 80%;
    padding: 0 3rem;
}