.nav-main{
    flex:0 0 20%;
    max-width: 20%;
}

.navbar{
    background-color: #060b26;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu{
    background-color: #000;
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    /*left: -100%; */
    transition:850ms;
    }

    .nav-menu.active{
        left:0;
        transition: 350ms;
    }

    .nav-text{
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 61px 0px 45px 84px;
        list-style: none;
        height: 60px;
        /*border-bottom: 1px solid rgb(97, 223, 97); */
    }

    .nav-text a{
        text-decoration: none;
        color: rgb(97, 223, 97);
        font-size: 18px;
        width: 95%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 25px 25px;
        border-radius: 4px;
    }

    .nav-text a:hover{
        background-color:rgb(97, 223, 97);
        color: #000;
        
    }
    .nav-menu-items{
        width: 100%;
    }
    .navbar-toggle{
        background-color: #000;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

   /* span{
        margin-left: 20px;
    }*/

